<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <servlet>
        <servlet-name>EmployeeServlet</servlet-name>
        <servlet-class>com.ideas2it.servlet.EmployeeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmployeeServlet</servlet-name>
        <url-pattern>/addEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeServlet</servlet-name>
        <url-pattern>/updateEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeServlet</servlet-name>
        <url-pattern>/readEmployeeById</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeServlet</servlet-name>
        <url-pattern>/readEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeServlet</servlet-name>
        <url-pattern>/deleteEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeServlet</servlet-name>
        <url-pattern>/getEmployee</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LeaveRecordServlet</servlet-name>
        <servlet-class>com.ideas2it.servlet.LeaveRecordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LeaveRecordServlet</servlet-name>
        <url-pattern>/leave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeaveRecordServlet</servlet-name>
        <url-pattern>/addLeaveRecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeaveRecordServlet</servlet-name>
        <url-pattern>/updateLeaveRecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeaveRecordServlet</servlet-name>
        <url-pattern>/getEmployeeForLeave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeaveRecordServlet</servlet-name>
        <url-pattern>/readLeaveRecordByEmployeeId</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeaveRecordServlet</servlet-name>
        <url-pattern>/readLeaveRecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeaveRecordServlet</servlet-name>
        <url-pattern>/getLeaveId</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeaveRecordServlet</servlet-name>
        <url-pattern>/getEmployeeForUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeaveRecordServlet</servlet-name>
        <url-pattern>/deleteLeaveRecord</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EmployeeProjectServlet</servlet-name>
        <servlet-class>com.ideas2it.servlet.EmployeeProjectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmployeeProjectServlet</servlet-name>
        <url-pattern>/project</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeProjectServlet</servlet-name>
        <url-pattern>/addProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeProjectServlet</servlet-name>
        <url-pattern>/updateProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeProjectServlet</servlet-name>
        <url-pattern>/getEmployeeForProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeProjectServlet</servlet-name>
        <url-pattern>/getProjects</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeProjectServlet</servlet-name>
        <url-pattern>/getProjectsByEmployeeId</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeProjectServlet</servlet-name>
        <url-pattern>/getProjectManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeProjectServlet</servlet-name>
        <url-pattern>/getEmployeeForProjectUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeProjectServlet</servlet-name>
        <url-pattern>/getProjectId</url-pattern>
    </servlet-mapping>
</web-app>